.hero-section {
    background-color: #282c34;
    color: white;
    padding: 50px 0;
    text-align: center;
  }
  
  .banner {
    margin-bottom: 30px;
  }
  
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #000000;
    border: 0.5px solid aqua;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    border: 1px solid #21a1f1;
    background-color: #21a1f1;
  }
  
  .trending-coins {
    margin-top: 30px;
  }
  
  .trending-coins h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .trending-coins ul {
    list-style: none;
    padding: 0;
  }
  
  .trending-coins li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  