body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .ranking-container {
    padding: 2rem;
    color: white;
  }
  
  .ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .ranking-table th,
  .ranking-table td {
    background-color: #1d242b;
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .ranking-table th {
    color: white;
  }
  
  .coin-image {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  

  body.dark-mode .ranking-container {
    background-color: #282c34;
    color: white;
  }
  
  body.dark-mode .ranking-table th {
    background-color: #1c1f24;
  }
  
  body.dark-mode .ranking-table td {
    background-color: #2f3540;
  }
  
  body.dark-mode .ranking-table {
    border-color: #444;
  }
  
  body.dark-mode .ranking-table th,
  body.dark-mode .ranking-table td {
    border-color: #444;
  }